body {
    background-image: url("img/background.jpg");
    background-attachment: fixed;
    margin: 0px;
}

#menu {
    background-color: transparent;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 12%;
    left: 0%;
    text-align: center;
    top: 50%;
    z-index: 1;
}

#mbg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0%;
    z-index: 1;
}

#mTable {
    text-align: center;
    width: 96%;
    display: none;
}

#hButton {
    display: none;
    background-color: transparent;
    position: absolute;
    text-align: center;
    font-size: 25px;
    width: 25%;
    top: 25%;
    left: 70%;
    z-index: 1;
}

#b1 {
    display: none;
    position: absolute;
    top: -200%;
    left: 0%;
    width: 50%;
}

#b2 {
    display: none;
    position: absolute;
    top: -75%;
    left: 0%;
    width: 50%;
}

#b3 {
    display: none;
    position: absolute;
    top: 50%;
    left: 0%;
    width: 50%;
}

#b4 {
    display: none;
    position: absolute;
    top: 155%;
    left: 0%;
    width: 50%;
}

#showMenu {
    position: fixed;
    text-align: justify;
    font-size: 25px;
    background-color: transparent;
    border-style: solid;
    border-color: white;
    width: 3%;
    height: 11%;
    top: 85%;
}

#showMenuId {
    color: white;
    transform: rotate(270deg);
}

#workspace {
    background-color: white;
    position: absolute;
    left: 10%;
    width: 80%;
    height: 100%;
    z-index: 0;
}

#mBody {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #660066;
    opacity: 0;
    display: none;
    z-index: 1;
}
